@import "compass/reset";

html, body {
	font-size: 15px;
	line-height: 1.4;
	color: white;
	font-family: "utopia-std", "Times New Roman", serif;
}

body {
	background: #ff6b94;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff6b94, #ff6449);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ff6b94, #ff6449); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* *************************
        ANIMATIONS

working from https://codepen.io/valhead/pen/ByRaBd
************************* */



/* Define Animations */
@keyframes slideIn {
  from {transform:translateY(400px);}
  to {transform:translateY(0);}
}

@keyframes slideInShort {
  from {transform:translateY(80px);}
  to {transform:translateY(0);}
}

@keyframes slideDown {
  from {transform: translateY(-120px)}
  to {transform: translateY(0)}
}

@keyframes fadeIn {
  from {opacity:0;}
  to{ opaticy: 1;}
}

/* Animation Variables */
$easeOutCust:cubic-bezier(.03,.16,.39,0.99);
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);


/* *************************
        TYPOGRAPHY
************************* */

h1, .h1 {
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	font-family: "utopia-std", "Times New Roman", serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

strong {
	font-weight: bold;
}

p {
	font-size: 22px;
	font-weight: 400;
	display: block;
	margin-bottom: 20px;
}

.intro {
	margin-top: -45px;
	display: block;
	margin-bottom: 20px;
}

.solution-intro {
	display: block;
	margin-bottom: 20px;
	font-family: "Hevetica Neue", helvetica, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

.caption-label {
	text-transform: uppercase;
	color: #b1b1b1;
	display: block;
	font-family: "Hevetica Neue", helvetica, sans-serif;
	font-size: 16px;
	margin: 15px 0;
	letter-spacing: 1px;
	font-weight: 700;
}

.fine-print {
	font-family: "Hevetica Neue", helvetica, sans-serif;
	font-size: 13px;
	opacity: 0.5;
	display: block;
	margin-top: 30px;
}

.superscript {
	vertical-align: super;
	opacity: 0.4;
	font-size: 14px;
}



/* *************************
         CONTAINERS
************************* */

.wrapper {
	max-width: 900px;
	margin: 50px auto;
	padding: 0 25px;
	text-align: center;
	margin-top: 100px;
	position: relative;
	height: 80vh;
}

.main-section {
	height: 50vh;
	max-height: 50vh;
	display: block;
	margin-top: 15vh;
	border: 1px solid transparent;
}

.hidden {
	display: none;
}

.problem-statement-holder,
.consideration-holder,
.solution-statement-holder {
	display: none;
}

/* *************************
          BUTTONS
************************* */

.buttons {
	position: absolute;
	bottom: 80px;
	margin: 0 auto;
	text-align: center;
	width: calc(100% - 50px);

	p {
		font-size: 16px;
		margin-top: 15px;
	}
}

button, .button {
	display: inline-block;
	font-size: 17px;
	line-height: 2.2;
	padding: 5px 30px;
	border: 4px solid white;
	margin: 0px 6px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 6px;
	color: #9B2450;
	text-transform: uppercase;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:first-of-type {
		border: 4px solid white;
		background-color: transparent;
		color: white;
	}
}

:focus {
	outline: #009df8 auto 3px;
	outline-color: #009df8;
	outline-style: none;
	outline-width: 0px;
	box-shadow: 0px 0px 7px #9B2450;;
}

.problem-buttons,
.consideration-buttons,
.again-buttons {
	display: none;
}

.reset-button {
	display: inline-block;
	margin-top: 20px;
	font-size: 17px;
	color: white;
	font-family: "Hevetica Neue", helvetica, sans-serif;
	text-decoration: none;
}


/* *************************
   		LOADER
************************* */



#loader-container {
  width: 200px;
  height: 200px;
  color: white;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 5px solid #3498db;
  border-radius: 50%;
  -webkit-animation: borderScale 1s infinite ease-in-out;
  animation: borderScale 1s infinite ease-in-out;
}

#loadingText {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes borderScale {
  0% {
    border: 5px solid white;
  }
  50% {
    border: 25px solid transparent;
  }
  100% {
    border: 5px solid white;
  }
}

@keyframes borderScale {
  0% {
    border: 5px solid white;
  }
  50% {
    border: 25px solid transparent;
  }
  100% {
    border: 5px solid white;
  }
}


/* *************************
   PROBLEM-SPECIFIC STUFF
************************* */

.problem-statement {
	margin-top: 50px;
	.the-emotions {
		display: block;
		margin-top: 20px;
	}
}


/* *************************
CONSIDERATION-SPECIFIC STUFF
************************* */

.the-considerations {
	margin-bottom: 20px;
}

.the-evidence {
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 20px;

	strong {
		font-family: "Hevetica Neue", helvetica, sans-serif;
		font-weight: 700;
		color: #009df8;
		font-size: 20px;
	}
}

.evidence-card {
	background: white;
	padding: 20px 20px 35px;
	max-width: 500px;
	margin: 10px auto 0;
	border-radius: 8px;
	box-shadow: 0 1px 3px 1px rgba(60,64,67,.2), 0 2px 8px 4px rgba(60,64,67,.1);

	p {
		color: #444444;
	}

	&.animate {
		animation: slideIn .65s $easeOutBack both,
		fadeIn 0.25s $easeInQuad both;
	}
}


/* *************************
  SOLUTIONS-SPECIFIC STUFF
************************* */

.solution-statement {
	p.h1 {
		&:after {
			content: '™';
			vertical-align: top;
			font-size: 40px;
			font-weight: 400;
		}
	}
}

.solution-card {
	border-radius: 8px;
	box-shadow: 4px 6px 24px 10px rgba(60,64,67,.08), 0 2px 8px 4px rgba(60,64,67,.08);
	margin: 0 auto;
	max-width: 700px;
	padding: 80px 50px 40px;
	background: rgba(255,255,255,.1);
	height: auto;
}

.the-follow-up {
	font-size: 18px;
	font-style: inherit;
	display: block;
	margin-top: 40px;

	a {
		color: white;
	}

	.coupon-code strong,
	span.social-account,
	.to-thirty {
		font-family: "Hevetica Neue", helvetica, sans-serif;
		font-weight: 700;
		font-size: 18px;
		font-style: initial;
	}

	.emoji {
		font-style: initial;
		vertical-align: middle;
		font-size: 1.7rem;
	}
}

.at-resp-share-element .at-share-btn {
	margin: 0 4px 5px;
}

.tooltip {
	position: fixed;
	bottom: 20px;
	right: 20px;
	opacity: 0.4;
	cursor: pointer;
	width: 20px;
	height: 20px;

	&:hover {
		opacity: 0.8;
	}
}

.credits {
	width: calc(100% - 30px);
	background: #ab2755;
	bottom: 0;
	color: rgba(255,255,255,0.5);
	position: fixed;
	left: 0;
	padding: 20px 15px;
	display: none;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	box-shadow: 4px 6px 24px 10px rgba(60,64,67,.08), 0 2px 8px 4px rgba(60,64,67,.08);
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;

	a {
		color: rgba(255,255,255,0.8);
	}
}


/* *************************
        Mobile Styles
************************* */

@media screen and (max-width: 667px) {
	h1, .h1 {
		font-size: 36px;
	}
	.main-section {
		margin-top: 0px;
		max-height: inherit;
		height: auto;
		min-height: 430px;
		display: flex;
		justify-content: center; /* align horizontal */
		align-items: center; /* align vertical */
	}
	.problem-statement {
		margin-top: 1vh;
	}
	.buttons {
		position: relative;
		width: 100%;
		bottom: 0;
	}
	.wrapper {
		padding: 0 25px 20px;
		padding-top: 0;
		margin: 20px auto;
		height: inherit;
		min-height: 80vh;
	}
	.intro {
		font-size: 18px;
	}
	.consideration-element {
		margin-top: 2.5vh;
	}
	.fine-print {
		margin-top: 15px;
	}
	.the-evidence {
		font-size: 20px;
	}
	.solution-element {
		margin-top: 0;
		.emoji {
			display: block;
			margin-top: 10px;
		}
	}
	.solution-statement .h1 {
		font-size: 34px;
	}
	.solution-card {
		padding: 40px 15px 15px;
		p {
			margin-bottom: 0;
		}
	}
	.solution-intro {
		font-size: 15px;
	}
	.the-follow-up {
		font-size: 17px;

		.coupon-code strong,
		span.social-account,
		.to-thirty {
			font-size: 18px;
		}
	}
	.solution-card {
		padding: 50px 20px 20px;
	}

	button, .button {
		display: inline-block;
		font-size: 14px;
		line-height: 2.2;
		padding: 5px 25px;
	}
	.reset-button {
		font-size: 16px;
	}
	.tooltip {
		bottom: 15px;
		right: 15px;
	}	
}

@media screen and (max-width: 320px) {
	.main-section {
		min-height: 400px;
	}
	h1, .h1 {
		font-size: 32px;
	}

	.wrapper {
		padding: 0 20px 25px;
	}
	.caption-label {
		font-size: 15px;
	}
	.the-evidence {
		font-size: 18px;
	}
	.solution-intro {
		font-size: 13px;
	}
	.solution-statement .h1 {
		font-size: 30px;
	}
	.the-follow-up {
		font-size: 15px;
		.coupon-code strong,
		span.social-account,
		.to-thirty {
			font-size: 15px;
		}
	}
	button, .button {
		display: inline-block;
		font-size: 13px;
		line-height: 2.2;
		padding: 4px 15px;
	}
	.reset-button {
		font-size: 15px;
	}
}