@import "compass/reset";

html, body {
	font-size: 15px;
	line-height: 1.4;
	color: white;
}

body {
	background: #fd746c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* *************************
        ANIMATIONS

working from https://codepen.io/valhead/pen/ByRaBd
************************* */



/* Define Animations */
@keyframes slideIn {
  from {transform:translateY(400px);}
  to {transform:translateY(0);}
}

@keyframes slideInShort {
  from {transform:translateY(80px);}
  to {transform:translateY(0);}
}

@keyframes slideDown {
  from {transform: translateY(-120px)}
  to {transform: translateY(0)}
}

@keyframes fadeIn {
  from {opacity:0;}
  to{ opaticy: 1;}
}

/* Animation Variables */
$easeOutCust:cubic-bezier(.03,.16,.39,0.99);
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);


/* *************************
        TYPOGRAPHY
************************* */

h1, .h1 {
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
}

strong {
	font-weight: bold;
}

p {
	font-size: 22px;
	font-weight: 400;
	display: block;
	margin-bottom: 20px;
}

.intro,
.solution-intro {
	margin-top: -45px;
	display: block;
	margin-bottom: 20px;
}

.caption-label {
	text-transform: uppercase;
	color: #b1b1b1;
	display: block;
	font-family: sans-serif;
	font-size: 16px;
	margin: 10px 0;
	letter-spacing: 1px;
	font-weight: 700;
}

.fine-print {
	font-family: sans-serif;
	font-size: 12px;
	opacity: 0.4;
	display: block;
	margin-top: 30px;
}

.superscript {
	vertical-align: super;
	opacity: 0.4;
	font-size: 14px;
}


/* *************************
         CONTAINERS
************************* */

.wrapper {
	max-width: 900px;
	margin: 50px auto;
	text-align: center;
	margin-top: 100px;
	position: relative;
	height: 80vh;
}

.main-section {
	height: 50vh;
	max-height: 50vh;
	display: block;
	margin-top: 15vh;
	border: 1px solid transparent;
}

.hidden {
	display: none;
}

.problem-statement-holder,
.consideration-holder,
.solution-statement-holder {
	display: none;
}

/* *************************
          BUTTONS
************************* */

.buttons {
	position: absolute;
	bottom: 80px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

button, .button {
	display: inline-block;
	font-size: 18px;
	line-height: 2.2;
	padding: 0px 30px;
	border: 4px solid white;
	margin: 0px 5px;
	font-weight: 500;
	cursor: pointer;
	border-radius: 6px;

	&:first-of-type {
		border: 4px solid white;
		background-color: transparent;
		color: white;
	}
}

.problem-buttons,
.consideration-buttons,
.again-buttons {
	display: none;
}

.reset-button {
	display: block;
	margin-top: 20px;
	color: white;
}


/* *************************
   PROBLEM-SPECIFIC STUFF
************************* */

.problem-statement {
	margin-top: 50px;
	.the-emotions {
		display: block;
		margin-top: 20px;
	}
}


/* *************************
CONSIDERATION-SPECIFIC STUFF
************************* */

.the-considerations {
	margin-bottom: 20px;
}

.the-evidence {
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 20px;

	strong {
		font-family: sans-serif;
		font-weight: 700;
		color: #009cf8;
		font-size: 20px;
	}
}

.evidence-card {
	background: white;
	padding: 20px;
	max-width: 500px;
	margin: 10px auto 0;
	border-radius: 8px;
	box-shadow: 0 1px 3px 1px rgba(60,64,67,.2), 0 2px 8px 4px rgba(60,64,67,.1);

	p {
		color: #444444;
	}

	&.animate {
		animation: slideIn .65s $easeOutBack both,
		fadeIn 0.25s $easeInQuad both;
	}
}


/* *************************
  SOLUTIONS-SPECIFIC STUFF
************************* */

.the-follow-up {
	font-size: 18px;
	font-style: italic;
	display: block;
	margin-top: 100px;

	a {
		color: white;
	}
}