/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html, body {
	font-size: 15px;
	line-height: 1.4;
	color: white;
}

body {
	background: #fd746c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
	max-width: 900px;
	margin: 50px auto;
	text-align: center;
	margin-top: 100px;
	position: relative;
	height: 80vh;
}


.hidden {
	display: none;
}
.first-section {
	height: 50vh;
	max-height: 50vh;
	display: block;
	margin-top: 15vh;
	border: 1px solid transparent;
}

h1, .h1 {
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
}

.problem-statement-holder,
.solution-statement-holder {
	display: none;
}

.solution-statement-holder {
	display: none;
}

.problem-statement {
	margin-top: 50px;
	.the-emotions {
		display: block;
		margin-top: 20px;
	}
}

.intro,
.solution-intro {
	font-size: 22px;
	font-weight: 400;
	margin-top: -45px;
	display: block;
	margin-bottom: 20px;
}

.buttons {
	position: absolute;
	bottom: 80px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
button, .button {
	display: inline-block;
	font-size: 18px;
	line-height: 2.2;
	padding: 0px 30px;
	border: 4px solid white;
	margin: 0px 5px;
	font-weight: 500;
	cursor: pointer;
	border-radius: 6px;

	&:first-of-type {
		border: 4px solid white;
		background-color: transparent;
		color: white;
	}
}

.the-follow-up {
	font-size: 18px;
	font-style: italic;
	display: block;
	margin-top: 100px;
}