@charset "UTF-8";
/* line 5, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.scss */
html, body {
  font-size: 15px;
  line-height: 1.4;
  color: white;
}

/* line 9, ../sass/screen.scss */
body {
  background: #fd6c6c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9068, #fd6c6c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9068, #fd6c6c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* *************************
        ANIMATIONS

working from https://codepen.io/valhead/pen/ByRaBd
************************* */
/* Define Animations */
@keyframes slideIn {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideInShort {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opaticy: 1;
  }
}
/* Animation Variables */
/* *************************
        TYPOGRAPHY
************************* */
/* line 54, ../sass/screen.scss */
h1, .h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
}

/* line 60, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 64, ../sass/screen.scss */
p {
  font-size: 22px;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
}

/* line 71, ../sass/screen.scss */
.intro,
.solution-intro {
  margin-top: -45px;
  display: block;
  margin-bottom: 20px;
}

/* line 78, ../sass/screen.scss */
.caption-label {
  text-transform: uppercase;
  color: #b1b1b1;
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  margin: 10px 0;
  letter-spacing: 1px;
  font-weight: 700;
}

/* line 89, ../sass/screen.scss */
.fine-print {
  font-family: sans-serif;
  font-size: 12px;
  opacity: 0.4;
  display: block;
  margin-top: 30px;
}

/* line 97, ../sass/screen.scss */
.superscript {
  vertical-align: super;
  opacity: 0.4;
  font-size: 14px;
}

/* *************************
         CONTAINERS
************************* */
/* line 108, ../sass/screen.scss */
.wrapper {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: center;
  margin-top: 100px;
  position: relative;
  height: 80vh;
}

/* line 118, ../sass/screen.scss */
.main-section {
  height: 50vh;
  max-height: 50vh;
  display: block;
  margin-top: 15vh;
  border: 1px solid transparent;
}

/* line 126, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 130, ../sass/screen.scss */
.problem-statement-holder,
.consideration-holder,
.solution-statement-holder {
  display: none;
}

/* *************************
          BUTTONS
************************* */
/* line 140, ../sass/screen.scss */
.buttons {
  position: absolute;
  bottom: 80px;
  margin: 0 auto;
  text-align: center;
  width: calc(100% - 40px);
}

/* line 148, ../sass/screen.scss */
button, .button {
  display: inline-block;
  font-size: 18px;
  line-height: 2.2;
  padding: 0px 30px;
  border: 4px solid white;
  margin: 0px 5px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
}
/* line 159, ../sass/screen.scss */
button:first-of-type, .button:first-of-type {
  border: 4px solid white;
  background-color: transparent;
  color: white;
}

/* line 166, ../sass/screen.scss */
.problem-buttons,
.consideration-buttons,
.again-buttons {
  display: none;
}

/* line 172, ../sass/screen.scss */
.reset-button {
  display: block;
  margin-top: 20px;
  color: white;
}

/* *************************
   PROBLEM-SPECIFIC STUFF
************************* */
/* line 183, ../sass/screen.scss */
.problem-statement {
  margin-top: 50px;
}
/* line 185, ../sass/screen.scss */
.problem-statement .the-emotions {
  display: block;
  margin-top: 20px;
}

/* *************************
CONSIDERATION-SPECIFIC STUFF
************************* */
/* line 196, ../sass/screen.scss */
.the-considerations {
  margin-bottom: 20px;
}

/* line 200, ../sass/screen.scss */
.the-evidence {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}
/* line 205, ../sass/screen.scss */
.the-evidence strong {
  font-family: sans-serif;
  font-weight: 700;
  color: #009cf8;
  font-size: 20px;
}

/* line 213, ../sass/screen.scss */
.evidence-card {
  background: white;
  padding: 20px;
  max-width: 500px;
  margin: 10px auto 0;
  border-radius: 8px;
  box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.2), 0 2px 8px 4px rgba(60, 64, 67, 0.1);
}
/* line 221, ../sass/screen.scss */
.evidence-card p {
  color: #444444;
}
/* line 225, ../sass/screen.scss */
.evidence-card.animate {
  animation: slideIn 0.65s cubic-bezier(0.175, 0.885, 0.32, 1.275) both, fadeIn 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* *************************
  SOLUTIONS-SPECIFIC STUFF
************************* */
/* line 238, ../sass/screen.scss */
.solution-statement p.h1:after {
  content: '™';
  vertical-align: super;
  font-size: 20px;
  font-weight: 400;
}

/* line 247, ../sass/screen.scss */
.the-follow-up {
  font-size: 18px;
  font-style: italic;
  display: block;
  margin-top: 100px;
}
/* line 253, ../sass/screen.scss */
.the-follow-up a {
  color: white;
}
/* line 257, ../sass/screen.scss */
.the-follow-up .coupon-code strong,
.the-follow-up span.social-account,
.the-follow-up .to-thirty {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: initial;
}
/* line 266, ../sass/screen.scss */
.the-follow-up .emoji {
  font-style: initial;
  vertical-align: middle;
  font-size: 1.7rem;
}
